@font-face {
    font-family: Gotham;
    src: url(./fonts/GothamMedium.otf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Gotham;
  }
  
.header {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .interspotLogo {
        width: 10vw;
    }

    .containerHorizontal {
        align-items: center;
        justify-content: space-evenly;
    }

    .containerVertical {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    .container {
        background-color: #121212;
        width: 85vw;
        height: 75vh;
        border-radius: 2vw;
        display: flex;

        .verticalLine {
            border-left: 1px solid #202020;
            height: 95%
        }

        .playlistSelection, .signIn {
            color: white;
            width: 32%;
            height: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .name {
                background-color: #202020;
                border-radius: 2vw;
                width: 30%;
                height: 6%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    background-color: #202020;
                    max-width: 80%;
                    width: fit-content;
                    resize: none;
                    border: none;
                    color: #606060;
                    font-size: 1.1vw;
                    text-align: center;

                    &::placeholder {
                        color: #606060;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }

            .profilePicture {
                position: relative;
                width: 50%;
                // height: 0;
                // padding-bottom: 60%;
                border-radius: 100vw;
                border: none;
                background-color: black;
            }

            .guide {
                color: #606060;
                font-size: 1.5vw;
                text-align: center;
                width: 70%;
            }

            .playlistsContainer {
                background-color: #202020;
                width: 100%;
                height: 80%;
                border-radius: 2vw;
                padding: 5%;
                display: flex;
                justify-content: center;
                
                .playlistsWrapper {
                    height: 100%;
                    width: 100%;
                    overflow: scroll;

                    display: grid;
                    grid-template-columns: 37% 37%;
                    gap: 10%;
                    justify-content: center;

                    .playlist {
    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
    
                        text-align: center;
                        .playlistCover {
                            width: 100%;
                            margin-bottom: 5%;
                            border-radius: 10%;
                        }
                    }

                    .playlistSelected {
    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        background-color: #1ED760;
                        padding: 5%;
                        border-radius: 4%;

                        .playlistCover {
                            width: 100%;
                            margin-bottom: 5%;
                        }
                    }
                }

            }

            .addPlaylist, .linkProfile {
                width: 100%;
                background-color: #202020;
                height: 6%;
                border-radius: 2vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 3%;

                input {
                    background-color: #202020;
                    width: 72%;
                    resize: none;
                    border: none;
                    color: #606060;
                    font-size: 1vw;
                    &::placeholder {
                        color: #606060;
                    }
                    &:focus {
                        outline: none;
                    }
                }

                img {
                    height: 50%;
                    fill: #606060;
                }

                button {
                    background-color: #1ED760;
                    color: white;
                    height: 100%;
                    border: none;
                    border-radius: 2vw;
                    width: 20%;
                    font-size: 1.1vw;
                    cursor: pointer;
                }
            }   
            button {
                background-color: #1ED760;
                color: white;
                height: 6%;
                border: none;
                border-radius: 2vw;
                // width: 20%;
                padding-left: 3%;
                padding-right: 3%;
                font-size: 1.1vw;
                cursor: pointer;
            }
        }

        .loading {
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            font-size: 1.1vw;
            height: 25%;


            .loadingAnimation {
                width: 7vw;
                height: 7vw;
                position: relative;
            }
            
            .double-bounce1, .double-bounce2 {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #606060;
                opacity: 0.6;
                position: absolute;
                top: 0;
                left: 0;
                
                -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
                animation: sk-bounce 2.0s infinite ease-in-out;
            }
            
            .double-bounce2 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
            
            @-webkit-keyframes sk-bounce {
                0%, 100% { -webkit-transform: scale(0.0) }
                50% { -webkit-transform: scale(1.0) }
            }
            
            @keyframes sk-bounce {
                0%, 100% { 
                    transform: scale(0.0);
                    -webkit-transform: scale(0.0);
                } 50% { 
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }
            }
        }

        .intersectionCard {
            background-color: #202020;
            border-radius: 2vw;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            height: 80%;

            .intersectionName {
                font-size: 1.5vw;
            }
            .intersectionCover{
                width: 80%;
                border-radius: 1vw;
            }
            .intersectionLink {
                width: 80%;
                background-color: #606060;
                height: 6%;
                border-radius: 2vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 3%;

                & a {
                    text-decoration: none;
                    font-size: 0.49vw;
                    color: white;
                }

                button {
                    background-color: #1ED760;
                    color: white;
                    height: 100%;
                    border: none;
                    border-radius: 2vw;
                    width: 20%;
                    font-size: 0.7vw;
                    cursor: pointer;
                }
            }
            .playListIsInYourLibrary {
                font-size: 0.8vw;
            }
        }

        .noIntersection {
            color: white;
            font-size: 1vw;
        }

    }

    .mainButton {
        background-color: #1ED760;
        color: white;
        width: 12vw;
        height: 3vw;
        border-radius: 2vw;
        border: none;
        font-size: 1.1vw;
        cursor: pointer;
        &:disabled {
            background-color: #606060;
            color: #202020;
            cursor: not-allowed;
        }
    }
}