@font-face {
  font-family: Gotham;
  src: url(./fonts/GothamMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Gotham;
}

.header {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .interspotLogo {
  width: 10vw;
}

.header .containerHorizontal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .containerVertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container {
  background-color: #121212;
  width: 85vw;
  height: 75vh;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .verticalLine {
  border-left: 1px solid #202020;
  height: 95%;
}

.header .container .playlistSelection, .header .container .signIn {
  color: white;
  width: 32%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .playlistSelection .name, .header .container .signIn .name {
  background-color: #202020;
  border-radius: 2vw;
  width: 30%;
  height: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .playlistSelection .name input, .header .container .signIn .name input {
  background-color: #202020;
  max-width: 80%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  resize: none;
  border: none;
  color: #606060;
  font-size: 1.1vw;
  text-align: center;
}

.header .container .playlistSelection .name input::-webkit-input-placeholder, .header .container .signIn .name input::-webkit-input-placeholder {
  color: #606060;
}

.header .container .playlistSelection .name input:-ms-input-placeholder, .header .container .signIn .name input:-ms-input-placeholder {
  color: #606060;
}

.header .container .playlistSelection .name input::-ms-input-placeholder, .header .container .signIn .name input::-ms-input-placeholder {
  color: #606060;
}

.header .container .playlistSelection .name input::placeholder, .header .container .signIn .name input::placeholder {
  color: #606060;
}

.header .container .playlistSelection .name input:focus, .header .container .signIn .name input:focus {
  outline: none;
}

.header .container .playlistSelection .profilePicture, .header .container .signIn .profilePicture {
  position: relative;
  width: 50%;
  border-radius: 100vw;
  border: none;
  background-color: black;
}

.header .container .playlistSelection .guide, .header .container .signIn .guide {
  color: #606060;
  font-size: 1.5vw;
  text-align: center;
  width: 70%;
}

.header .container .playlistSelection .playlistsContainer, .header .container .signIn .playlistsContainer {
  background-color: #202020;
  width: 100%;
  height: 80%;
  border-radius: 2vw;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container .playlistSelection .playlistsContainer .playlistsWrapper, .header .container .signIn .playlistsContainer .playlistsWrapper {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37% 37%;
      grid-template-columns: 37% 37%;
  gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container .playlistSelection .playlistsContainer .playlistsWrapper .playlist, .header .container .signIn .playlistsContainer .playlistsWrapper .playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.header .container .playlistSelection .playlistsContainer .playlistsWrapper .playlist .playlistCover, .header .container .signIn .playlistsContainer .playlistsWrapper .playlist .playlistCover {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10%;
}

.header .container .playlistSelection .playlistsContainer .playlistsWrapper .playlistSelected, .header .container .signIn .playlistsContainer .playlistsWrapper .playlistSelected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: #1ED760;
  padding: 5%;
  border-radius: 4%;
}

.header .container .playlistSelection .playlistsContainer .playlistsWrapper .playlistSelected .playlistCover, .header .container .signIn .playlistsContainer .playlistsWrapper .playlistSelected .playlistCover {
  width: 100%;
  margin-bottom: 5%;
}

.header .container .playlistSelection .addPlaylist, .header .container .playlistSelection .linkProfile, .header .container .signIn .addPlaylist, .header .container .signIn .linkProfile {
  width: 100%;
  background-color: #202020;
  height: 6%;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
}

.header .container .playlistSelection .addPlaylist input, .header .container .playlistSelection .linkProfile input, .header .container .signIn .addPlaylist input, .header .container .signIn .linkProfile input {
  background-color: #202020;
  width: 72%;
  resize: none;
  border: none;
  color: #606060;
  font-size: 1vw;
}

.header .container .playlistSelection .addPlaylist input::-webkit-input-placeholder, .header .container .playlistSelection .linkProfile input::-webkit-input-placeholder, .header .container .signIn .addPlaylist input::-webkit-input-placeholder, .header .container .signIn .linkProfile input::-webkit-input-placeholder {
  color: #606060;
}

.header .container .playlistSelection .addPlaylist input:-ms-input-placeholder, .header .container .playlistSelection .linkProfile input:-ms-input-placeholder, .header .container .signIn .addPlaylist input:-ms-input-placeholder, .header .container .signIn .linkProfile input:-ms-input-placeholder {
  color: #606060;
}

.header .container .playlistSelection .addPlaylist input::-ms-input-placeholder, .header .container .playlistSelection .linkProfile input::-ms-input-placeholder, .header .container .signIn .addPlaylist input::-ms-input-placeholder, .header .container .signIn .linkProfile input::-ms-input-placeholder {
  color: #606060;
}

.header .container .playlistSelection .addPlaylist input::placeholder, .header .container .playlistSelection .linkProfile input::placeholder, .header .container .signIn .addPlaylist input::placeholder, .header .container .signIn .linkProfile input::placeholder {
  color: #606060;
}

.header .container .playlistSelection .addPlaylist input:focus, .header .container .playlistSelection .linkProfile input:focus, .header .container .signIn .addPlaylist input:focus, .header .container .signIn .linkProfile input:focus {
  outline: none;
}

.header .container .playlistSelection .addPlaylist img, .header .container .playlistSelection .linkProfile img, .header .container .signIn .addPlaylist img, .header .container .signIn .linkProfile img {
  height: 50%;
  fill: #606060;
}

.header .container .playlistSelection .addPlaylist button, .header .container .playlistSelection .linkProfile button, .header .container .signIn .addPlaylist button, .header .container .signIn .linkProfile button {
  background-color: #1ED760;
  color: white;
  height: 100%;
  border: none;
  border-radius: 2vw;
  width: 20%;
  font-size: 1.1vw;
  cursor: pointer;
}

.header .container .playlistSelection button, .header .container .signIn button {
  background-color: #1ED760;
  color: white;
  height: 6%;
  border: none;
  border-radius: 2vw;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.1vw;
  cursor: pointer;
}

.header .container .playlistSelection button:disabled, .header .container .signIn button:disabled {
  background-color: #606060;
  color: #202020;
  cursor: not-allowed;
}

.header .container .loading {
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1vw;
  height: 25%;
}

.header .container .loading .loadingAnimation {
  width: 7vw;
  height: 7vw;
  position: relative;
}

.header .container .loading .double-bounce1, .header .container .loading .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #606060;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.header .container .loading .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.header .container .intersectionCard {
  background-color: #202020;
  border-radius: 2vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 80%;
}

.header .container .intersectionCard .intersectionName {
  font-size: 1.5vw;
}

.header .container .intersectionCard .intersectionCover {
  width: 80%;
  border-radius: 1vw;
}

.header .container .intersectionCard .intersectionLink {
  width: 80%;
  background-color: #606060;
  height: 6%;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
}

.header .container .intersectionCard .intersectionLink a {
  text-decoration: none;
  font-size: 0.49vw;
  color: white;
}

.header .container .intersectionCard .intersectionLink button {
  background-color: #1ED760;
  color: white;
  height: 100%;
  border: none;
  border-radius: 2vw;
  width: 20%;
  font-size: 0.7vw;
  cursor: pointer;
}

.header .container .intersectionCard .playListIsInYourLibrary {
  font-size: 0.8vw;
}

.header .container .noIntersection {
  color: white;
  font-size: 1vw;
}

.header .mainButton {
  background-color: #1ED760;
  color: white;
  width: 12vw;
  height: 3vw;
  border-radius: 2vw;
  border: none;
  font-size: 1.1vw;
  cursor: pointer;
}

.header .mainButton:disabled {
  background-color: #606060;
  color: #202020;
  cursor: not-allowed;
}
/*# sourceMappingURL=App.css.map */